*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 .body-main{
    display: grid;
    grid-template-columns: 3fr 6fr 6fr  ;
    grid-template-rows: 1.50fr 5fr 5fr 2fr ;
    grid-template-areas: 
    " header-d  header-d  header-d  "
    "  nav  maina maina "
    "  nav  maina maina "
    " foter  foter foter " ;
}
.header-d{
   grid-area:header-d;
    background-color: black ;
    height: 154px ;
    width: 100% ;
}
.nav{
   grid-area: nav ;
   height: 100%;
    width: 350px;
    background-color: blue;
}
.maina{
    grid-area:maina ;
    max-width: 1900px;
    height:auto ;
    background-color: rgb(255, 0, 234);
}
.div-div{
    margin: 30px;
    height: 700px;
   background-color: cadetblue; 
}
.foter{ 
    grid-area:foter;
    background-color: rgb(94, 255, 0);
    height: 205px;
    width: 100%;
}
.div-contener{
    height: 152px;
    margin-left: 10px;
    width:320px ;
    margin-top: 15px;
    background-color: rgb(5, 5, 117);
}

@media screen and (max-width:400px){
    .div-contener{
        /* display: none; */
        background-color: rgb(0, 255, 0);
    }
    .body-main{
        display: none;
    }
}
@media only screen and (max-width:830px){
    .div-contener{
        background-color: brown;
    }
    .body-main{
        display: none;
    }
    
}
@media screen and (max-width:1030px){
    .body-main{
        display: none;
    }
}
/* @media screen and (min-width:512px) and (max-width:767){
    
}
@media screen and (min-width:512px) and (max-width:767){
    
}
 */











/* a:hover{
    font-size: 36px;
    box-shadow: 0px 0px 10px 8px blueviolet;
}
a{
    transition-property: box-shadow ,font-size;
    transition-duration: 1s;
    display: inline-block;
    text-decoration: none;
    color:  blueviolet;
    font-size: 40px;
    margin-left: 100px;
    margin-top: 20px;
    border: solid 2px  ;
    border-radius: 15px;
} */
