
a:hover{
    font-size: 36px;
    box-shadow: 0px 0px 10px 8px blueviolet;
}
a{
    transition-property: box-shadow ,font-size;
    transition-duration: 1s;
    display: inline-block;
    text-decoration: none;
    color:  blueviolet;
    font-size: 40px;
    margin-left: 100px;
    margin-top: 20px;
    border: solid 2px  ;
    border-radius: 15px;
}
